.footer-map {
	position: relative; /* Это чтобы  фон влез полностью на 320 пикселей :) */
	left: -20px;
	width: 320px;
	height: 200px;
	margin-bottom: -40px; 	/* Это чтобы скомпенсировать padding-bottom в .info-container--white */
	background: url('../img/bg/footer-map.jpg') no-repeat 0 -445px;
}