.info-container {
	position: relative;
	padding: 20px 20px 0;
	text-align: center;

	&&--white {
		@media @mobile {
			padding-bottom: 40px;
		}
		@media @tablet {
			padding-bottom: 80px;
		}
		background-color: @white;
	}

	&&--gray {
		@media @mobile {
			background-color: @gray;
		}
	}

	&&--gray::before {
	 	content: "";
	 	position: absolute;
	 	left: 0;
	 	background: url(../img/etc/triangle-gray.svg) no-repeat 0 0;
	 	@media @mobile {
	 		width: @screen--sm;
	 		top: -32px;
	 		height: 32px;
	 		background-size: 320px 32px;
	 	}
	 	@media @tablet {
	 		width: @screen--md;
	 		top: -5px;
	 		height: 55px;
	 		background-size: 700px 55px;
	 	}
	}

	&__h2{
		@media @mobile {
			font-size: @h2;
			line-height: 28px;
		}
		@media @tablet {
			font-size: @h1-tabl;
			line-height: 48px;
		}
		font-weight: 300;
		color: @blue--lighter;
	}

	&__h2:first-child {
		margin-bottom: 40px;
		@media @tablet {
			margin-bottom: 0;
		}
	}

	&__h2:last-child {
		@media @tablet {
			width: 500px;
			margin: 0 auto;
		}
	}

	&__tablet-img {
		@media @mobile {
			display: none;
		}
		@media @tablet {
			position: relative;
			bottom: 40px;
			float: left;
			margin-right: 40px;
		}
	}

	&__h3{
		@media @mobile {
			margin-top: 40px;
			margin-bottom: 20px;
			font-size: @h3;
		}
		@media @tablet {
			margin-top: 30px;
			margin-bottom: 15px;
			font-size: @h3-tabl;
		}
		color: @blue--lighter;
	}

	&__h3:first-of-type {
		@media @tablet {
			padding-top: 30px;
		}
	}

	&__caption {
		font-size: @base-fs;
		line-height: 24px;
		color: @blue--lighter;
	}

	&__caption:last-of-type {
		@media @mobile {
			margin-bottom: 40px;
		}
	}

	&__pres-wrapper {
		@media @tablet {
			position: relative;
			left: -20px; //Компенсируем отступ слева в .info-container
			box-sizing: border-box;
			width: 700px;
			padding: 0 40px 0 40px;
			text-align: left;
			background-color: @gray;
		}
	}

	&__aux-bg {
		@media @mobile {
			min-height: 278px;
			background: url("../img/bg/screen-mobile-3.png") no-repeat 50% 0;
		}
		@media @tablet {
			display: none;
		}
	}
}
