.radio-slider {
	margin: 35px 0 10px;
	text-align: center;

	& input[type="radio"] {
		display: none;
	}

	& label {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
		width: 5px;
		height: 5px;
		background-color: #b5b9be;
		border-radius: 50%;
		text-indent: -9000px;
		cursor: pointer;
	}

	& label:last-child {
		margin-right: 0;
	}

	& input[type="radio"]:checked + label {
		background-color: @white;
		box-shadow: 0 0 0 3px @blue--lighter;
	}
}