@charset "UTF-8";

@import "less/variables.less";
@import "less/fonts.less";

/* .hidden {
	display: none;
} */


body {
	width: @screen--sm;
	margin: 0 auto;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.top-header {
	position: relative;
	min-height: 235px;
	background: url('../img/bg/bg_main--photo.jpg') no-repeat 0 0;

	&__caption {
		text-align: center;
		padding: 0 10px;
		font-size: @h2;
		line-height: 30px;
		font-weight: 300;
		color: @white;
	}

	&__aux-bg {
		height: 310px;
		background: url('../img/bg/bg_main--hand.jpg') no-repeat 0 0;
	}
}

.float-container {
	box-sizing: border-box;
	width: @screen--sm;
	padding: 30px 20px;
	background-color: rgba(29,38,49, .7);

	&__logo-link {
		float: left;
		font-size: 24px;
		line-height: 0;
		text-transform: uppercase;
		text-decoration: none;
		color: @white;
	}

	&__menu {
		float: right;
	}
}

.toggle-menu {
  	position: relative;
  	bottom: 14px;
  	display: block;
  	width: 50px;
  	height: 26px;
  	font-size: 0;
  	text-indent: -9000px;
  	overflow: hidden;
  	background-color: transparent;
  	box-shadow: none;
  	border-radius: 0;
  	border: none;
  	cursor: pointer;

  	&:focus {
  		outline: none;
  	}

  	&__toggler {
		position: absolute;
		display: block;
		width: 100%;
		top: 12px;
		height: 4px;
		background: white;
	}

	&__toggler::before,
	&__toggler::after {
  		position: absolute;
  		left: 0;
  		display: block;
  		width: 100%;
  		height: 4px;
  		background-color: @white;
  		content: "";
	}

	&__toggler::before {
		top: -10px;
	}

	&__toggler::after {
		bottom: -10px;
	}
}

.main-menu {
	position: absolute;
	left: -40px;
    top: 45px;
	list-style: none;
	width: @screen--sm;

	&__link {
		display: block;
		padding: 30px 0;
		border-top: 1px solid #485461;
		border-bottom: 1px solid #000101;
		font-size: 18px;
		font-weight: bold;
		line-height: 0;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background-color: @blue--lighter;
		color: @white;
	}
}

.download-pink {
	background-color: @blue--darker;
	color: @white;
	padding: 28px 20px 35px 20px;

	&__info {
		text-align: center;
		font-weight: 300;
		font-size: @base-fs;
	}
}

.download-btn {
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 280px;
	padding: 15px 25px;
	font-weight: bold;
	font-size: @h3;
	color: @white;
	border: 3px solid @white;
	border-radius: 50px;
	text-decoration: none;
	transition: all .2s linear;

	&:hover {
		color: @pink;
		border-color: @pink;
	};
}

.mobile-icons {
	list-style: none;
	padding-left: 0;
	text-align: center;

	& li {
		display: inline-block;
		vertical-align: middle;
	}

	& li a {
		display: block;
		height: 57px;
		width: 46px;
		margin-top: 25px;
		margin-bottom: 25px;
		text-indent: -9000px;
	}

	&__apple {
		margin-right: 35px;
		background: url("../img/icons/apple-icon.png") no-repeat;
	}

	&__android {
		margin-right: 35px;
		background: url("../img/icons/android-icon.png") no-repeat 50% 100%;
	}

	&__windows {
		background: url("../img/icons/windows-icon.png") no-repeat 50% 100%;
	}
}

.info-container {
	position: relative;
	padding: 20px 20px 0;
	text-align: center;

	&&--white {
		padding-bottom: 30px;
		background-color: @white;
	}

	&&--gray {
		background-color: @gray;
	}

	&&--gray::before {
		position: absolute;
	    right: 50px;
	    top: -138px;
	    content: "";
	    border: 225px solid red;
	    border-top-width: 0;
	    border-right-width: 0;
	    border-left-color: transparent;
	    transform: rotate(35deg);
	}
	 /* &&--gray::before {
	 		position: absolute;
	 		z-index: 10;
	 		width: @screen--sm;
	 		height: 30px;
	 		background-color: red;
	 		top: -20px;
	 		transform: rotate(-15deg);
	 	} */

	&__h2{
		font-size: @h2;
		font-weight: 300;
		line-height: 28px;
		color: @blue--lighter;
	}

	&__h2:first-child {
		margin-bottom: 40px;
	}

	&__h3{
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: @h3;
		color: @blue--lighter;
	}

	&__caption {
		font-size: @base-fs;
		line-height: 24px;
		color: @blue--lighter;
	}

	&__caption&__caption--lh-30 {
		line-height: 30px;
	}

	&__aux-bg {
		height: 320px;
		background: url('../img/bg/info-container__aux-bg.png') no-repeat 50% 38px;
	}

	&__pink-text {
		margin-top: -15px;
		margin-bottom: -5px;
		font-size: @h2;
		font-weight: 300;
		text-decoration: none;
		color: @pink;
		/* & a[href="mailto"] {
			color: @pink;
		}
		*/
	}

	&__pink-text:last-of-type {
		padding-bottom: 50px;
	}
	/* &__pink-text&__pink-text--mask::after {
		position: absolute;
		bottom: 20px;
		border: 320px solid red;
		border-top-width: 0;
		border-left-color: transparent;
		border-right-color: transparent;
	} */
}

.pricing {
	position: relative;
	background-color: @gray;
	padding: 40px 0;

	&__table {
		width: 275px;
		margin: 0 auto;
		border-collapse: collapse;
		border: 2px solid #e5e5e5;

		& thead {
			color: @white;
			background-color: @blue--lighter;

			& th {
				position: relative;
				padding: 20px;
			}

			& h3, p, span {
				line-height: 0;
			}

			& h3 {
				padding-bottom: 10px;
				font-size: @h3;
				font-weight: bold;
				text-transform: uppercase;
			}

			& p {
				font-size: @h2;
				font-weight: 300;
				text-transform: uppercase;
			}

			& span {
				position: absolute;
				text-indent: -9000px;
				top: 0;
    			left: -2px;
				width: 74px;
				height: 80px;
				background: url("../img/etc/hit.png") no-repeat;
			}
		}

		& tr {
			border: 2px solid #e5e5e5;
		}

		& td {
			padding: 20px;
			border: 2px solid #e5e5e5;
			text-transform: uppercase;
			color: @blue--lighter;
			background-color: @white;
		}
	}

	&__hint--yes,
	&__hint--no {
		text-indent: -9000px;
		width: 29px;
		height: 26px;
	}

	&__hint--yes {
		background: url("../img/etc/tick--yes.png") no-repeat 50% 50%;
	}

	&__hint--no {
		background: url("../img/etc/tick--no.png") no-repeat 50% 50%;
	}
}

.radio-slider {
	margin: 35px 0 15px;
	text-align: center;
}

.footer-map {
	position: relative; /* Это чтобы  фон влез полностью на 320 пикселей :) */
	left: -20px;
	width: 320px;
	height: 200px;
	margin-bottom: -30px; 	/* Это чтобы скомпенсировать padding-bottom: 30px в .info-container--white */
	background: url('../img/bg/footer-map.jpg') no-repeat 0 -445px;

	/* &::before {
		position: absolute;
		top: -20px;
		border: 300px solid red;
		border-bottom-width: 0;
		border-left-color: transparent;
		border-right-color: transparent;
	} */
}