/* Colors */
@black: #000;
@blue--darker: #1d2631;
@blue--lighter: #283645;
@gray: #f2f2f2;
@pink: #d22856;
@white: #fff;

/* Typography */
@base-fs: 14px;
@h1: @base-fs + 10px;
@h1--large: (@base-fs * 2) + 10px;
@h2: @base-fs + 10px;
@h3: @base-fs + 4px;
@larger: @base-fs + 2px;
@smaller: @base-fs - 2px;


/* Sizes */
@screen--sm: 320px;