.float-container {
	&__float--left {
		float: left;
	}

	&__float--right {
		float: right;
	}
}

.float-container::after {
	content: "";
	clear: both;
	display: table;
}

.clearfix::after {
	content: "";
	display: table;
	clear:both;
}

.clearfix-tabl-marg::after { //Этим классом компенсируем выступ вверх у мобильника в планшетной версии
	@media @tablet {
		content: "";
		display: table;
		clear: both;
		margin-bottom: -40px;
	}

	@media @desktop {
		margin-bottom: 0;
	}
}

.hidden {
	display: none;
}

.mob-hidden {
	@media @mobile {
		display: none;
	}
}

.tablet-hidden {
	@media @tablet {
		display: none;
	}
}

.desktop-hidden {
	@media @desktop {
		display: none;
	}
}

.desktop-shown {
	@media @desktop {
		display: block;
	}
}

.block {
	display: block;
}

.tablet-block {
	@media @tablet {
		display: block;
	}
	@media @desktop {
		display: inline;
	}
}

.desktop-only {
	@media @mobile {
		display: none;
	}
	@media @tablet {
		display: none;
	}
	@media @desktop {
		display: inline;
	}
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}
